* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/principal.png);
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.user-greeting {
    font-size: 1.5em;
    margin-left: 0px;
    background-color: #333;
    padding: 20px;
    color: #f4f4f4;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #333;
    justify-content: space-around;
    max-height: 700px; /* Defina uma altura máxima para o menu */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando o menu exceder a altura máxima */
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        border-right: none;
        margin-bottom: 10px;
    }

    .menu-toggle {
        margin-top: 20px;
    }
}

.menu a {
    color: #f4f4f4;
    text-decoration: none;
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #444;
}

/* Restante do seu CSS permanece o mesmo */

/* Restante do seu CSS permanece o mesmo */

/* Additional styles for a more complex and beautiful page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9e9e9;
}

.date-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #fffafa;
}

/* Add some animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header, .menu li {
    animation-name: fadeIn;
    animation-duration: 2s;
}
.sidebar {
    position: fixed;
    width: 250px;
    height: 110%;
    background-color: #333;
    color: #f4f4f4;
    transition: transform 0.3s;
    transform: translateX(-250px);
    overflow-y: auto;
    padding-top: 10px;
}

.sidebar.active {
    transform: translateX(0);
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.menu {
    padding: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.user-greeting {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.post-it {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it4{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it5{
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it6{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it7{
    position: absolute;
    top: 70%;
    left: 28%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it8{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}

.post-it9{
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffcc00; /* Cor de fundo destacada */
    border: 2px solid #ff9900; /* Cor da borda */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center;
}







