* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagens/principal.png);
    background-color: #e5e7eb;
}



.user-greeting {
    font-size: 1.5em;
    margin-left: 0px;
    background-color: #080718;
    padding: 20px;
    color: #f7f9f7;
}


@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        border-right: none;
        margin-bottom: 10px;
    }

    .menu-toggle {
        margin-top: 20px;
    }
}

.menu a {
    color: #f4f4f4;
    text-decoration: none;
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #444;
}

.date-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #080718;
}

/* Add some animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header, .menu li {
    animation-name: fadeIn;
    animation-duration: 2s;
}
.sidebar {
    position: fixed;
    width: 250px;
    overflow-y: scroll;
    background-color: #0a091f;
    color: #f4f4f4;
    transition: transform 0.3s;
    transform: translateX(-250px);
    margin-top: -20px;
    z-index: 999;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}


.sidebar.active {
    transform: translateX(0);
    height: 100%;
    position: fixed;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    color: #f7f9f7;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    width: 100%;

    display: block;
    padding: 24px 0;
    text-align: center;
    transition: background-color 0.3s;
}

.user-greeting {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-it {
    width: 400px;
    height: 150px;
    padding: 20px;
    background-color: #F7F9F7; 
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 10px;
    border-radius: 4px;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}