/* Reset padrão e configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global do corpo */
body {
    background-image: url(../imagens/principal.png);
    background-size: cover;
    color: black; /* Texto em preto */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Defina a largura desejada */
}

/* Estilo do cabeçalho do formulário */
h1 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    margin-top: 20px; /* Espaçamento superior adicionado para centralizar */
    color: black; /* Texto em preto */
}

/* Estilo das etiquetas dos campos */
label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: black; /* Texto em preto */
}

/* Estilo comum para todos os campos de entrada */
input {
    height: 40px;
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black; /* Texto em preto */
    outline: none;
}

/* Estilo do botão de envio */
input[type="submit"] {
    background-color: #10688E;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1278a3;
}

/* Estilo para títulos secundários (exemplo: "Campos de Endereço") */
h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: black; /* Texto em preto */
}

/* Adicione o estilo específico para campos de endereço aqui */

/* Estilo para links */
a {
    color: black; /* Texto em preto */
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.voltar-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black; /* Ícone em preto */
}

.btn-voltar {
    margin-top: 30px;
}
