/* Reset padrão e configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/principal.png);
    background-size: cover;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column; /* Alterado para centralizar verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table {
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    margin-top: 20px; /* Espaçamento superior adicionado para centralizar */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
    color: #333;
}

/* Adicione um padding maior para a coluna "Itens Vendidos" */
th:nth-child(5),
td:nth-child(5) {
    padding-right: 20px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}
th:nth-child(5), td:nth-child(5) {
    padding: 8px 20px; /* Adicione mais espaço à esquerda e direita da coluna "Itens Vendidos" */
}


th:nth-child(5), td:nth-child(5) {
    padding: 8px 20px; /* Adicione mais espaço à esquerda e direita da coluna "Itens Vendidos" */
}

.total-venda {
    color: green; /* Defina a cor verde para o texto "total da venda" */
}

.voltar-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.btn-voltar {
    margin-top: 30px;
}

